#payStripe {
    background: #006FFF !important;
    box-shadow: 0 0 20px rgba(0, 111, 255, 0.4) !important;
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
}

#payStripe:hover {
    background: #005CE6 !important;
    box-shadow: 0 0 30px rgba(0, 111, 255, 0.6) !important;
}

.add-to-cart,
.button {
    display: inline-flex;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 500;
    color: white !important;
    background: #ff6f00 !important;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0 0 20px rgba(255, 111, 0, 0.4) !important;
    transition: background 0.3s, transform 0.2s;
    z-index: 1;
    cursor: pointer;
    align-items: center;
}

.add-to-cart:hover,
.button:hover {
    background: #e65c00 !important;
    transform: translateY(-2px);
    box-shadow: 0 0 30px rgba(255, 111, 0, 0.6) !important;
}
